@using NorthWind.Models
@model Order
@{    
    ViewBag.Title = "Details";
}
@Html.ActionLink("Ajouter une commande", "Create", "Order")
@Html.ActionLink("Toutes les commandes", "AllOrdersSortedByDate", "Order")
@Html.ActionLink("Prochaines commandes", "NextOrders", "Order")
@Html.ActionLink("Vue par client", "ViewByClient", "Order")
@Html.ActionLink("Vue par employee", "ViewByEmployee", "Order")
@Html.ActionLink("Calendrier", "Index", "Calendar")
<br />
<h2>Detail de la commande</h2>

<table class="border_none">
    <tr>
        <td>Id :</td>
        <td>@Model.OrderID</td>
    </tr>
    <tr> 
        <td>Client :</td>
        <td>@Html.ActionLink(""+ViewData["clientName"], "Details", "Customer", new{ id = Model.CustomerID}, null)</td>
    </tr>
    <tr>
        <td>Employé :</td>
        <td>@Html.ActionLink(""+ViewData["customerName"], "Details", "Employee", new{ id = Model.EmployeeID}, null)</td>
    </tr>
    <tr>
        <td>Date de commande :</td>
        <td>@Model.OrderDate.Value.ToShortDateString()</td>
    </tr>
    <tr>
        <td>Date requise :</td>
        <td>@Model.RequiredDate.Value.ToShortDateString()</td>
    </tr>
    <tr>
        <td>Date de livraison :</td>
        <td>@Model.ShippedDate.Value.ToShortDateString()</td>
    </tr>
    <tr>
        <td>En passant par :</td>
        <td>@ViewData["shipVia"]</td>
    </tr>
    <tr>
        <td>Expéditeur :</td>
        <td>@Model.ShipName</td>
    </tr>
    <tr>
        <td>Téléphone Expéditeur :</td>
        <td>@ViewData["phone"]</td>
    </tr>
    <tr>
        <td>Fret :</td>
        <td>@Model.Freight</td>
    </tr>
    <tr>
        <td>Adresse de la compagnie :</td>
        <td>@Model.ShipAddress , @Model.ShipCity ( @Model.ShipRegion ), @Model.ShipPostalCode @Model.ShipCountry</td>
    </tr>
</table>