@using NorthWind.Models
@model Customer
@{    
    ViewBag.Title = "Details";
}

<h2>Details du client : @Model.CompanyName</h2>

<table class="border_none" style="width:100%;">
    <tr>
        <td class="bold">Identifiant :</td>
        <td>@Model.CustomerID</td>
    </tr>

    <tr>
        <td class="bold">Nom du contact :</td>
        <td>@Model.ContactName (@Model.ContactTitle)</td>
    </tr>
    
    <tr>
        <td class="bold">Adresse du client :</td>

        @if (Model.Region.IsEmpty())
        {
            <td>@Model.PostalCode , @Model.City, @Model.Country</td>
        }else{
            <td>@Model.PostalCode , @Model.City ( @Model.Region ), @Model.Country</td>
        }
        
    </tr>

    <tr>
        <td class="bold">Téléphone :</td>
        <td>@Model.Phone</td>
    </tr>
    
    @if (!Model.Fax.IsEmpty())
    {
        <tr>
            <td class="bold">Fax :</td>
            <td>@Model.Fax</td>
        </tr>
    }
    
    @* <tr>
        <td>Liste des Commandes :</td>
        <td></td>
    </tr>*@

</table>