@using NorthWind.Models
@model Customer
@{    
    ViewBag.Title = "Details";
}

<h2>Details du client</h2>

<table>
    <tr>
        <td>Id :</td>
        <td>@Model.CustomerID</td>
    </tr>
    <tr>
        <td>Nom de la Compagnie:</td>
        <td>@Model.CompanyName</td>
    </tr>
    <tr>
        <td>Nom du contact :</td>
        <td>@Model.ContactName</td>
    </tr>
    <tr>
        <td>Titre du contact :</td>
        <td>@Model.ContactTitle</td>
    </tr>
    <tr>
        <td>Addresse :</td>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <td>Ville :</td>
        <td>@Model.City</td>
    </tr>
    <tr>
        <td>Région :</td>
        <td>@Model.Region</td>
    </tr>
    <tr>
        <td>Code postale :</td>
        <td>@Model.PostalCode</td>
    </tr>
    <tr>
        <td>Pays :</td>
        <td>@Model.Country</td>
    </tr>

    <tr>
        <td>Téléphone :</td>
        <td>@Model.Phone</td>
    </tr>
    
    <tr>
        <td>Fax :</td>
        <td>@Model.Fax</td>
    </tr>
    
    @* <tr>
        <td>Liste des Commandes :</td>
        <td></td>
    </tr>*@

</table>