@using NorthWind.Models

@model EditableCustomer
@{
    ViewBag.Title = "Edit";
}

<h2>Modifier le client </h2>

@using (Html.BeginForm("/Customer/Edit/"))
{
    @Html.ValidationSummary("Corrigez svp les erreurs et recommencez.")

    @Html.HiddenFor(m => Model.CustomerID, Model.CustomerID)
    
    <table style="border: none">
        
        <tr>
            <td>@Html.LabelFor(m => Model.CompanyName) : </td>
            <td>
                @Html.TextBoxFor(m => Model.CompanyName)
                @Html.ValidationMessageFor(m => Model.CompanyName)
            </td>
        </tr>

        <tr>
            <td>@Html.LabelFor(m => Model.ContactName) : </td>
            <td>
                @Html.TextBoxFor(m => Model.ContactName)
                @Html.ValidationMessageFor(m => Model.ContactName)
            </td>
        </tr>

        <tr>
            <td>@Html.LabelFor(m => Model.ContactTitle) : </td>
            <td>
                @Html.TextBoxFor(m => Model.ContactTitle)
                @Html.ValidationMessageFor(m => Model.ContactTitle)
            </td>
        </tr>

        
        <tr>
            <td>@Html.LabelFor(m => Model.Address) : </td>
            <td>
                @Html.TextBoxFor(m => Model.Address)
                @Html.ValidationMessageFor(m => Model.Address)
            </td>
        </tr>

        <tr>
            <td>@Html.LabelFor(m => Model.City) : </td>
            <td>
                @Html.TextBoxFor(m => Model.City)
                @Html.ValidationMessageFor(m => Model.City)
            </td>
        </tr>

        <tr>
            <td>@Html.LabelFor(m => Model.Region) : </td>
            <td>
                @Html.TextBoxFor(m => Model.Region)
                @Html.ValidationMessageFor(m => Model.Region)
            </td>
        </tr>

        <tr>
            <td>@Html.LabelFor(m => Model.PostalCode) : </td>
            <td>
                @Html.TextBoxFor(m => Model.PostalCode)
                @Html.ValidationMessageFor(m => Model.PostalCode)
            </td>
        </tr>

        <tr>
            <td>@Html.LabelFor(m => Model.Country) : </td>
            <td>
                @Html.TextBoxFor(m => Model.Country)
                @Html.ValidationMessageFor(m => Model.Country)
            </td>
        </tr>

        <tr>
            <td>@Html.LabelFor(m => Model.Phone) : </td>
            <td>
                @Html.TextBoxFor(m => Model.Phone)
                @Html.ValidationMessageFor(m => Model.Phone)
            </td>
        </tr>

        <tr>
            <td>@Html.LabelFor(m => Model.Fax) : </td>
            <td>
                @Html.TextBoxFor(m => Model.Fax)
                @Html.ValidationMessageFor(m => Model.Fax)
            </td>
        </tr>
    </table>
    
    <input type="submit" value="Modifier" />
}