@using NorthWind.Models
@model Supplier
@{
    ViewBag.Title = "Details";
}

<h2>Details du fournisseur : @Model.CompanyName</h2>


<table class="border_none" style="width:100%;">
    <tr>
        <td class="bold" >Identifiant :</td>
        <td>@Model.SupplierID</td>
    </tr>
    
    <tr>
        <td class="bold">Nom du contact :</td>
        <td>@Model.ContactName (@Model.ContactTitle)</td>
    </tr>

    <tr>
        <td class="bold">Adresse de la compagnie :</td>

        @if (Model.Region.IsEmpty())
        {
            <td>@Model.PostalCode , @Model.City, @Model.Country</td>
        }else{
            <td>@Model.PostalCode , @Model.City ( @Model.Region ), @Model.Country</td>
        }
        
    </tr>

    <tr>
        <td class="bold">Téléphone :</td>
        <td>@Model.Phone</td>
    </tr>


    @if (!Model.Fax.IsEmpty())
    {
        <tr>
            <td class="bold">Fax :</td>
            <td>@Model.Fax</td>
        </tr>
    }
    
    @if (!Model.HomePage.IsEmpty())
    {
        <tr>
            <td class="bold">Site web:</td>
            <td>@Model.HomePage</td>
        </tr>
    }
        
   
</table>
