@using NorthWind.Models
@model Supplier
@{
    ViewBag.Title = "Details";
}

<h2>Details du fournisseur</h2>

<table>
    <tr>
        <td>Id :</td>
        <td>@Model.SupplierID</td>
    </tr>
    <tr>
        <td>Nom de la compagnie :</td>
        <td>@Model.CompanyName</td>
    </tr>
    <tr>
        <td>Nom du contact :</td>
        <td>@Model.ContactName (@Model.ContactTitle)</td>
    </tr>

    <tr>
        <td>Adresse de la compagnie :</td>
        <td>@Model.PostalCode , @Model.City ( @Model.Region ), @Model.Country</td>
    </tr>

    <tr>
        <td>Téléphone :</td>
        <td>@Model.Phone</td>
    </tr>

    <tr>
        <td>Fax :</td>
        <td>@Model.Fax</td>
    </tr>

    <tr>
        <td>Site :</td>
        <td>@Model.HomePage</td>
    </tr>
</table>
