@using NorthWind.Models

@model Employee
@{    
    ViewBag.Title = "Details";
}

<h2>Details de l'employee : @Model.TitleOfCourtesy @Model.LastName @Model.FirstName</h2>

<table class="border_none" style="width:100%;">
    
    <tr>
        <td rowspan="7">
            <img src='@Url.Action( "GetImage", "Employee", new { id = Model.EmployeeID } )' />
        </td>
    </tr>


    <tr>
        <td class="bold">Id :</td>
        <td>@Model.EmployeeID</td>
    </tr>
    <tr>
        <td class="bold">Date de naissance :</td>
        <td>@Model.BirthDate.Value.ToShortDateString()</td>
    </tr>
    <tr>
        <td class="bold">Date d'embauche :</td>
        <td>@Model.HireDate.Value.ToShortDateString()</td>
    </tr>
    <tr>
        <td class="bold">Adresse de l'employe :</td>

        @if (Model.Region.IsEmpty())
        {
            <td>@Model.PostalCode , @Model.City, @Model.Country</td>
        }else{
            <td>@Model.PostalCode , @Model.City ( @Model.Region ), @Model.Country</td>
        }
    </tr>
    <tr>
        <td class="bold">Extension : </td>
        <td>@Model.Extension</td>  
    </tr>

    <tr>
        <td class="bold">Notes : </td>
        <td>@Model.Notes</td>
    </tr>
    
</table>